{% extends 'admin/layout.html' %}
{% block content %}
    <script type="module" src="{{ url_for('static', filename='js/admin/book/form.js') }}"></script>
    <section>
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    {% if edit %}
                    <h2 class="section-heading">{{ _('Boek bewerken') }}</h2>
                    {% else %}
                    <h2 class="section-heading">{{ _('Boek toevoegen') }}</h2>
                    {% endif %}
                    <hr class="my-4"/>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <form id="bookForm" action="#">
                        <input type="hidden" name="csrf_token" id="csrf_token" value="{{ csrf_token() }}"/>
                        <div class="form-group">
                            <label for="title">{{ _('Titel') }}</label>
                            <input type="text" class="form-control" id="title" placeholder="{{ _('Titel') }}"
                                   name="title" required="required" tabindex="1"/>
                        </div>
                        <div class="form-group">
                            <label for="authors">{{ _('Auteur(s)') }}</label>
                            <div id="authors" class="mt-2 mb-3"></div>
                            <label for="add_author" class="sr-only">{{ _('Auteur toevoegen') }}</label>
                            <input type="text" id="add_author" class="form-control" placeholder="{{ _('Auteur') }}"
                                   tabindex="2" list="authors-datalist" />
                        </div>
                        <div class="form-group">
                            <label for="subjects">{{ _('Thema(s)') }}</label>
                            <div id="subjects" class="mt-2 mb-3"></div>
                            <label for="add_subject" class="sr-only">{{ _('Thema toevoegen') }}</label>
                            <input type="text" id="add_subject" class="form-control" placeholder="{{ _('Thema') }}"
                                   tabindex="41" list="subjects-list"/>
                        </div>
                        <div class="form-group">
                            <label for="series">{{ _('Serie') }}</label>
                            <input type="text" id="series" class="form-control" placeholder="{{ _('Serie') }}"
                                   name="series" tabindex="42" />
                        </div>
                        <div class="form-group" id="material-container" hidden="hidden">
                            <label for="material">{{ _('Materiaal') }}</label>
                            <input type="text" id="material" class="form-control" placeholder="{{ _('Materiaal') }}"
                                   name="material" tabindex="42" readonly="readonly" />
                        </div>
                        <div class="form-group">
                            <div class="row" id="location">
                                <div class="col">
                                    <label for="place">{{ _('Ruimte') }}</label>
                                    <select class="form-control" id="place" name="place" tabindex="50">
                                    </select>
                                </div>
                                <div class="col">
                                    <label for="book_case">{{ _('Rek') }}</label>
                                    <select class="form-control" id="book_case" name="book_case" tabindex="51">
                                    </select>
                                </div>
                                <div class="col">
                                    <label for="book_plank">{{ _('Plank') }}</label>
                                    <select class="form-control" id="book_plank" name="book_plank" tabindex="52">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-check mt-1 mb-3">
                            <input class="form-check-input" type="checkbox" id="batch" />
                            <label class="form-check-label" for="batch">
                                {{ _('Hard aan het werken. Toon geen popup als alles goed gaat.') }}
                            </label>
                        </div>
                        <button type="button" id="submit" class="btn btn-success"
                                tabindex="53">{{ _('Boek toevoegen') }}</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}