{% extends 'admin/layout.html' %}
{% block content %}
    <script type="module" src="{{ url_for('static', filename='js/admin/series/form.js') }}"></script>
    <section>
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    {% if section_title %}
                    <h2 class="section-heading">{{ section_title }}</h2>
                    {% else %}
                    {% if edit %}
                    <h2 class="section-heading">{{ _('Serie bewerken') }}</h2>
                    {% else %}
                    <h2 class="section-heading">{{ _('Serie toevoegen') }}</h2>
                    {% endif %}
                    {% endif %}
                    <hr class="my-4"/>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <form id="seriesForm" action="#">
                        <input type="hidden" name="csrf_token" id="csrf_token" value="{{ csrf_token() }}"/>
                        <div class="form-group">
                            <label for="name">{{ _('Naam') }}</label>
                            <input type="text" class="form-control" id="name" placeholder="{{ _('Naam van de serie') }}"
                                   name="name" required="required" tabindex="1"/>
                        </div>
                        <div class="form-group">
                            <label for="material">{{ _('Materiaal') }}</label>
                            <select id="material" tabindex="2" class="form-control">
                                <option value="Book">{{ _('Boek') }}</option>
                                <option value="Comic">{{ _('Stripverhaal') }}</option>
                                <option value="Journal">{{ _('Tijdschrift') }}</option>
                            </select>
                        </div>
                        <button type="button" id="submit" class="btn btn-success"
                                tabindex="2">{{ _('Serie toevoegen') }}</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}