{% extends 'admin/layout.html' %}
{% block content %}
    <script type="module" src="{{ url_for('static', filename='js/admin/series/series/list.js') }}"></script>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    {% if section_title %}
                    <h2 class="section-heading">{{ section_title }}</h2>
                    {% else %}
                    <h2 class="section-heading">{{ _('Series') }}</h2>
                    {% endif %}
                    <hr class="my-4"/>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="container">
                        <div class="row" id="series"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}