
.nav-item .nav-link {
    color: #212529!important;
}

.navbar-brand {
    color: #f05f40!important;
}

.navbar {
    border-bottom: 1px solid rgba(33,37,41,.1)!important;
}

#mainNav {
    background-color: #ffffff;
}

#list-of-series {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    width: 100%;
}
