.nav-item .nav-link {
    color: #212529!important;
}

.navbar-brand {
    color: #f05f40!important;
}

.navbar {
    border-bottom: 1px solid rgba(33,37,41,.1)!important;
}

#mainNav {
    background-color: #ffffff;
}

.masthead-search {
    height: 50vh!important;
    min-height: 50vh!important;
}

section.search {
    padding-top: 2rem;
}

hr.series {
    max-width: 100%;
    border: 1px solid rgba(33,37,41,.1);
}

.tag {
    border: 1px solid #343a40!important;
}

