{% extends 'admin/layout.html' %}
{% block content %}
    <script type="module" src="{{ url_for('static', filename='js/admin/location.js') }}"></script>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{ _('Locatie toevoegen') }}</h2>
                    <hr class="my-4"/>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <form id="locationForm" action="#">
                        <input type="hidden" name="csrf_token" id="csrf_token" value="{{ csrf_token() }}"/>
                        <div class="form-group">
                            <label for="room">{{ _('Ruimte') }}</label>
                            <input type="text" id="room" class="form-control" tabindex="1"
                                   data-serapeum-parameter="room" list="rooms" required="required" />
                        </div>
                        <div class="form-group">
                            <label for="case">{{ _('Rek') }}</label>
                            <input type="text" id="case" class="form-control" tabindex="2"
                                   data-serapeum-parameter="case" list="cases" disabled="disabled" required="required" />
                        </div>
                        <div class="form-group">
                            <label for="plank">{{ _('Plank') }}</label>
                            <input type="text" id="plank" class="form-control" tabindex="3"
                                   data-serapeum-parameter="plank" list="planks" disabled="disabled" required="required" />
                        </div>
                        <input type="button" id="submit" class="btn btn-success" value="{{ _('Locatie toevoegen') }}"
                               tabindex="53" disabled="disabled">
                        <datalist id="rooms"></datalist>
                        <datalist id="cases"></datalist>
                        <datalist id="planks"></datalist>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}