{% extends 'admin/layout.html' %}
{% block content %}

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{ _('Beheer') }}</h2>
                    <hr class="my-4"/>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <a href="{{ url_for('admin_gui.admin_book_manual') }}">
                            <i class="fa fa-4x fa-book text-primary mb-3 sr-icons"></i>
                            <h3 class="mb-3">{{ _('Boeken') }}</h3>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <a href="{{ url_for('admin_gui.admin_journals') }}">
                            <i class="fa fa-4x fa-book-open text-primary mb-3 sr-icons"></i>
                            <h3 class="mb-3">{{ _('Tijdschriften') }}</h3>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <a href="{{ url_for('admin_gui.admin_comics') }}">
                            <i class="fa fa-4x fa-mask text-primary mb-3 sr-icons"></i>
                            <h3 class="mb-3">{{ _('Strips') }}</h3>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <a href="{{ url_for('admin_gui.admin_series') }}">
                            <i class="far fa-4x fa-clone text-primary mb-3 sr-icons"></i>
                            <h3 class="mb-3">{{ _('Series') }}</h3>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <a href="{{ url_for('admin_gui.admin_locations') }}">
                            <i class="far fa-4x fa-clone text-primary mb-3 sr-icons"></i>
                            <h3 class="mb-3">{{ _('Locaties') }}</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}


