{% extends 'admin/layout.html' %}
{% block content %}

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{ _('Profiel') }}</h2>
                    <hr class="my-4"/>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <table class="table">
                        <tr>
                            <th scope="row">{{ _('Gebruikersnaam') }}</th>
                            <td>{{ current_user.username }}</td>
                        </tr>
                        <tr>
                            <th scope="row">{{ _('Wachtwoord veranderen') }}n</th>
                            <td>
                                <form>
                                    <input type="hidden" name="csrf_token" id="csrf_token" value="{{ csrf_token() }}" />
                                    <input type="hidden" name="username" id="username" value="{{ current_user.username }}" />
                                    <div class="mb-2">
                                        <label for="password" class="sr-only">{{ _('Wachtwoord') }}</label>
                                        <input type="password" class="form-control" placeholder="{{ _('Nieuw wachtwoord') }}"
                                               id="password"/>
                                    </div>
                                    <div class="mb-2">
                                        <label for="password_confirm" class="sr-only">{{ _('Wachtwoord bevestigen') }}</label>
                                        <input type="password" class="form-control" placeholder="{{ _('Wachtwoord bevestigen') }}"
                                               id="password_confirm"/>
                                        <span id="passwords-dont-match" class="alert alert-danger" hidden="hidden">{{ _('Wahctwoorden komen niet overeen.') }}</span>
                                    </div>
                                    <div class="mb-2">
                                        <div class="float-left">
                                            <button type="button" class="btn btn-success">{{ _('Wachtwoord wijzigen') }}</button>
                                        </div>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
