{% extends 'admin/layout.html' %}
{% block content %}

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ _('Gebruikers') }}</h2>
        <hr class="my-4"/>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
    </div>
  </div>
</section>

{% endblock %}
