{% extends 'admin/layout.html' %}
{% block content %}

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ _('Gebruikers') }}</h2>
        <hr class="my-4"/>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <a href="{{ url_for('ui.admin_user_all') }}">
            <i class="fa fa-4x fa-users text-primary mb-3 sr-icons"></i>
            <h3 class="mb-3">{{ _('Gebruikers') }}</h3>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <a href="{{ url_for('ui.admin_user_profile') }}">
            <i class="fa fa-4x fa-user text-primary mb-3 sr-icons"></i>
            <h3 class="mb-3">{{ _('Profiel') }}</h3>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
