{
  "SECRET_KEY": "{{ secret_key }}",
  "MONGO_USER": "serapeum",
  "MONGO_PASSWORD": "{{ mongo_password }}",
  "MONGO_SERVER": "localhost",
  "MONGO_PORT": "27017",
  "MONGO_AUTHDATABASE": "serapeum",
  "DEBUG": false
}