[Unit]
Description = Serapeum Library
After = network.target

[Service]
PermissionsStartOnly = true
RuntimeDirectory = serapeum
PIDFile = /run/serapeum/serapeum.pid
User = {{ app_user }}
Group = {{ app_group }}
WorkingDirectory = {{ base_dir }}/serapeum
ExecStart = {{ base_dir }}/venv/bin/gunicorn serapeum_app:application -b 127.0.0.1:{{ server_port }} --pid /run/serapeum/serapeum.pid
ExecReload = /bin/kill -s HUP $MAINPID
ExecStop = /bin/kill -s TERM $MAINPID

[Install]
WantedBy = multi-user.target