<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% if title %}{{ title }}{% else %}Serapeum{% endif %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='startbootstrap-creative/vendor/bootstrap/css/bootstrap.min.css') }}"
          rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{{ url_for('static', filename='startbootstrap-creative/vendor/fontawesome/css/all.css') }}"
          rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
          rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="{{ url_for('static', filename='startbootstrap-creative/vendor/magnific-popup/magnific-popup.css') }}"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='startbootstrap-creative/css/creative.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/serapeum.css') }}" rel="stylesheet">

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='startbootstrap-creative/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='startbootstrap-creative/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ url_for('static', filename='startbootstrap-creative/vendor/jquery-easing/jquery.easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='startbootstrap-creative/vendor/scrollreveal/scrollreveal.min.js') }}"></script>
    <script src="{{ url_for('static', filename='startbootstrap-creative/vendor/magnific-popup/jquery.magnific-popup.min.js') }}"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ url_for('static', filename='startbootstrap-creative/js/creative.js') }}"></script>

</head>

<body id="page-top">
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{{ url_for('public_gui.index') }}">SERAPEUM</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{ url_for('public_gui.book_search') }}">{{ _('Zoeken') }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{ url_for('public_gui.index') }}#library">{{ _('Bibliotheek') }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{ url_for('admin_gui.admin') }}">{{ _('Beheer') }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{ url_for('public_gui.index') }}#contact">{{ _('Contact') }}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% block content %}
{% endblock %}
</body>
</html>