{% extends 'lib/layout/base.html' %}
{% block content %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/admin/util.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/admin/edit/actions.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/library/book.js') }}"></script>
    {% if current_user.is_authenticated %}
        <!-- Delete form -->
        <div class="modal" tabindex="-1" role="dialog" id="delete_modal" aria-labelledby="delete_modal_label"
             aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="delete_modal_label">{{ _('Verwijderen') }} </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="{{ _('Sluiten') }}">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>{{ _('Bent u zeker dat u dit item wil verwijderen?') }}</p>
                    </div>
                    <div class="modal-footer" id="bulk_delete_submit_container">
                        <button type="button" class="btn btn-primary" id="delete_submit" tabindex="55">{{ _('Verwijderen') }}</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ _('Sluiten') }}</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <section id="library">
        <div class="container">
            {% if current_user.is_authenticated %}
                <div class="row">
                    <div class="col mt-2 mb-2">
                        <div class="float-right">
                            <div class="dropdown">
                                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="menuButton"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ _('Acties') }}
                                </button>
                                <div class="dropdown-menu" aria-labelledby="menuButton" id="actions">
                                    <a class="dropdown-item btn" type="button" id="edit" href="{{ url_for('admin_gui.admin_book_edit', book_id=book_id) }}"><span class="small">{{ _('Bewerken') }}</span></a>
                                    <button class="dropdown-item btn" type="button" id="remove"><span class="small">{{ _('Verwijderen') }}</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-3">
                    <img
                            src="{{ url_for('static', filename='images/covers/yggdrassil-book-plate.png') }}"
                            class="img-fluid" alt="{{ _('Cover.') }}"/>
                </div>
                <div class="col-9">
                    <span id="book_id" hidden="hidden">{{ book_id }}</span>
                    <h3 id="title" class="display-3"></h3>
                    <div class="mt-1"><span class="fa fa-user-circle d-inline mr-2 display-4"><label for="authors"
                                                                                                     class="sr-only">{{ _('Auteurs') }}</label></span><span
                            id="authors" class="lead"></span></div>
                    <div class="mt-3 text-muted" hidden="hidden" id="series"><em>{{ _('Deel van ') }}<strong></strong></em></div>
                    <div class="mt-3" id="subjects" hidden="hidden"><label for="subjects"
                                                                           class="sr-only">{{ _('Thema\'s') }}</label><span></span>
                    </div>
                    <h4 class="mt-5">{{ _('Locatie') }}</h4>
                    <dl class="row">
                        <dt class="col-sm-2"><label for="location">{{ _('Standplaats') }}</label></dt>
                        <dd class="col-sm-10" id="location"></dd>
                    </dl>
                </div>
            </div>
        </div>
    </section>
{% endblock %}