{% extends 'lib/layout/base.html' %}
{% block content %}

    <header class="masthead text-center text-white d-flex">
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h1 class="text-uppercase">
                        <strong>SERAPEUM</strong>
                    </h1>
                    <hr>
                </div>
                <div class="col-lg-8 mx-auto">
                    <p class="text-faded mb-5">Serapeum</p>
                    <a class="btn btn-primary btn-xl js-scroll-trigger" href="#library">{{ _('Meer') }}</a>
                </div>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="library">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <h2 class="section-heading text-white">{{ _('De bibliotheek') }}</h2>
                    <hr class="light my-4">
                    <a class="btn btn-light btn-xl js-scroll-trigger" href="{{ url_for('public_gui.book_search') }}">{{ _('Collectie') }}</a>
                </div>
            </div>
        </div>
    </section>
<!--
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">At Your Service</h2>
                    <hr class="my-4">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <i class="fa fa-4x fa-diamond text-primary mb-3 sr-icons"></i>
                        <h3 class="mb-3">Sturdy Templates</h3>
                        <p class="text-muted mb-0">Our templates are updated regularly so they don't break.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <i class="fa fa-4x fa-paper-plane text-primary mb-3 sr-icons"></i>
                        <h3 class="mb-3">Ready to Ship</h3>
                        <p class="text-muted mb-0">You can use this theme as is, or you can make changes!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <i class="fa fa-4x fa-newspaper-o text-primary mb-3 sr-icons"></i>
                        <h3 class="mb-3">Up to Date</h3>
                        <p class="text-muted mb-0">We update dependencies to keep things fresh.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <i class="fa fa-4x fa-heart text-primary mb-3 sr-icons"></i>
                        <h3 class="mb-3">Made with Love</h3>
                        <p class="text-muted mb-0">You have to make your websites with love these days!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="p-0" id="portfolio">
        <div class="container-fluid p-0">
            <div class="row no-gutters popup-gallery">
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box"
                       href="{{ url_for('static', filename='startbootstrap-creative/img/portfolio/fullsize/1.jpg') }}">
                        <img class="img-fluid"
                             src="{{ url_for('static', filename='startbootstrap-creative/img/portfolio/thumbnails/1.jpg') }}"
                             alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box"
                       href="{{ url_for('static', filename='startbootstrap-creative/img/portfolio/fullsize/2.jpg') }}">
                        <img class="img-fluid"
                             src="{{ url_for('static', filename='startbootstrap-creative/img/portfolio/thumbnails/2.jpg') }}"
                             alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box"
                       href="{{ url_for('static', filename='startbootstrap-creative/img/portfolio/fullsize/3.jpg') }}">
                        <img class="img-fluid"
                             src="{{ url_for('static', filename='startbootstrap-creative/img/portfolio/thumbnails/3.jpg') }}"
                             alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box"
                       href="{{ url_for('static', filename='startbootstrap-creative/img/portfolio/fullsize/4.jpg') }}">
                        <img class="img-fluid"
                             src="{{ url_for('static', filename='startbootstrap-creative/img/portfolio/thumbnails/4.jpg') }}"
                             alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box"
                       href="{{ url_for('static', filename='startbootstrap-creative/img/portfolio/fullsize/5.jpg') }}">
                        <img class="img-fluid"
                             src="{{ url_for('static', filename='startbootstrap-creative/img/portfolio/thumbnails/5.jpg') }}"
                             alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box"
                       href="{{ url_for('static', filename='startbootstrap-creative/img/portfolio/fullsize/6.jpg') }}">
                        <img class="img-fluid"
                             src="{{ url_for('static', filename='startbootstrap-creative/img/portfolio/thumbnails/6.jpg') }}"
                             alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-dark text-white">
        <div class="container text-center">
            <h2 class="mb-4">Free Download at Start Bootstrap!</h2>
            <a class="btn btn-light btn-xl sr-button" href="http://startbootstrap.com/template-overviews/creative/">Download
                Now!</a>
        </div>
    </section>
-->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <h2 class="section-heading">{{ _('Contact') }}</h2>
                    <hr class="my-4">
                </div>
            </div>
            <div class="row"><!--
                <div class="col-lg-4 ml-auto text-center">
                    <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
                    <p>123-456-6789</p>
                </div>-->
                <div class="col-lg-4 mr-auto text-center">
                    <i class="far fa-envelope-open fa-3x mb-3 sr-contact"></i>
                    <p>
                        <a href="mailto:serapeum@helptux.be">serapeum@helptux.be</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


