{% extends 'lib/layout/base.html' %}
{% block content %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/library/search.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/admin/util.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/admin/edit/actions.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/admin/search_bulk_edit.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/admin/search_bulk/edit.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/admin/search_bulk/delete.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/admin/search_bulk/tag.js') }}"></script>
    {% if current_user.is_authenticated %}
        <!-- Edit form -->
        <div class="modal" tabindex="-1" role="dialog" id="bulk_edit_modal" aria-labelledby="bulk_edit_modal_label"
             aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="bulk_edit_modal_label">{{ _('Aanpassingen') }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="{{ _('Sluiten') }}">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <span class="form-text text-muted">{{ _('Wanneer u een veld invult zal dit alle waarden in de selectie overschrijven. Lege velden worden genegeerd.') }}</span>
                        <form id="bulk_edit_form">
                            <input type="hidden" name="csrf_token" id="csrf_token" value="{{ csrf_token() }}"/>
                            <div class="form-group">
                                <label for="title">{{ _('Titel') }}</label>
                                <input type="text" id="title" name="title" class="form-control" tabindex="1"/>
                            </div>
                            <div class="form-group">
                                <label for="author">{{ _('Auteur') }}</label>
                                <div id="authors">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" id="author"
                                               name="author" required="required" list="authors_list" tabindex="2"/>
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" type="button"
                                                    id="button_author_add" tabindex="3">
                                                &plus;
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row" id="location">
                                    <div class="col">
                                        <label for="place">{{ _('Ruimte') }}</label>
                                        <select class="custom-select" id="place" name="place" tabindex="51">
                                            <option value="" data-serapeum-remove="false"></option>
                                        </select>
                                    </div>
                                    <div class="col">
                                        <label for="book_case">{{ _('Kast') }}</label>
                                        <select class="custom-select" id="book_case" name="book_case" tabindex="52">
                                        </select>
                                    </div>
                                    <div class="col">
                                        <label for="book_plank">{{ _('Plank') }}</label>
                                        <select class="custom-select" id="book_plank" name="book_plank" tabindex="53">
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="series">{{ _('Serie/Reeks') }}</label>
                                <input type="text" id="series" name="series" list="series_list" class="form-control"
                                       tabindex="54"/>
                            </div>
                        </form>
                        <datalist id="authors_list"></datalist>
                        <datalist id="series_list"></datalist>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="bulk_edit_submit" tabindex="55">
                            {{ _('Aanpassingen uitvoeren') }}
                        </button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" tabindex="56">
                            {{ _('Sluiten') }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Edit status -->
        <div class="modal" tabindex="-1" role="dialog" id="edit_status_modal" aria-labelledby="edit_status_modal_label"
             aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="edit_status_modal_label">{{ _('Aanpassingen') }} </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="{{ _('Sluiten') }}">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="edit_results">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ _('Sluiten') }}</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Delete form -->
        <div class="modal" tabindex="-1" role="dialog" id="bulk_delete_modal" aria-labelledby="bulk_delete_modal_label"
             aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="bulk_delete_modal_label">{{ _('Items verwijderen') }} </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="delete_list">
                        <p>{{ _('Deze items zullen worden verwijderd: ') }}</p>
                    </div>
                    <div class="modal-footer" id="bulk_delete_submit_container">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ _('Sluiten') }}</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Tag form -->
        <div class="modal" tabindex="-1" role="dialog" id="bulk_tag_modal" aria-labelledby="bulk_tag_modal_label"
             aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="bulk_tag_modal_label">{{ _('Thema\'s toevoegen') }} </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="{{ _('Sluiten') }}">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="bulk_tag_form">
                            <div class="form-group">
                                <label for="subjects">{{ _('Thema\'s') }}</label>
                                <label class="sr-only" for="extra_subject">{{ _('Thema toevoegen') }}</label>
                                <div class="input-group mb-3" id="subjects">
                                    <div class="input-group-prepend" id="subjects_added">
                                    </div>
                                    <input type="text" class="form-control" aria-label="Add extra subjects"
                                           id="extra_subject" tabindex="49" list="subjects_list"/>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer" id="bulk_tag_submit_container">
                        <button type="button" class="btn btn-primary" id="bulk_tag_submit" tabindex="55">
                            {{ _('Thema\'s toevoegen') }}
                        </button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ _('Sluiten') }}</button>
                    </div>
                </div>
            </div>
        <datalist id="subjects_list"></datalist>
        </div>
    {% endif %}
    <header class="masthead text-center text-white d-flex masthead-search">
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h1 class="text-uppercase">
                        <strong><label for="q">{{ _('Zoeken') }}</label></strong>
                    </h1>
                    <hr>
                </div>
                <div class="col-lg-8 mx-auto">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" id="q" placeholder="{{ _('Zoekterm') }}" name="q"
                                   value="{{ query }}"/>
                        </div>
                        <button type="button" class="btn btn-primary" id="search_btn">{{ _('Zoeken') }}</button>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <section class="search">
        <div class="container">
            {% if current_user.is_authenticated %}
                <div class="row">
                    <div class="col mt-2 mb-2">
                        <div class="float-right">
                            <div class="dropdown">
                                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                                        id="bulkMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                    Acties
                                </button>
                                <div class="dropdown-menu" aria-labelledby="bulkMenuButton" id="bulk_actions">
                                    <button class="dropdown-item btn" type="button" id="bulk_select"><span
                                            class="small">{{ _('Selecteren') }}</span></button>
                                    <button class="dropdown-item btn disabled" type="button" id="bulk_select_all"><span
                                            class="small">{{ _('Alles') }}</span></button>
                                    <button class="dropdown-item btn disabled" type="button" id="bulk_edit"><span
                                            class="small">{{ _('Bewerken') }}</span></button>
                                    <button class="dropdown-item btn disabled" type="button" id="bulk_remove"><span
                                            class="small">{{ _('Verwijderen') }}</span></button>
                                    <button class="dropdown-item btn disabled" type="button" id="bulk_tag"><span
                                            class="small">{{ _('Thema toevoegen') }}</span></button>
                                </div>
                            </div>
                            <!-- bulk_edit
                            bulk_remove
                            bulk_tag -->
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="row" id="library_cont">
            </div>
            <div class="row">
                <div class="col text-center" id="pages">
                </div>
            </div>
        </div>
    </section>
{% endblock %}