{% extends 'lib/layout/base.html' %}
{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{ _('Aanmelden') }}</h2>
                    <hr class="my-4"/>
                </div>
            </div>
        </div>
        <div class="container">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="row">
                        <div class="col-sm-12">
                            {% for message in messages %}
                                <div class="alert alert-danger">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endwith %}
            <div class="row">
                <div class="col-sm-12">
                    {% if next %}
                        <form method="POST" action="{{ url_for('auth.login', next=next) }}">
                    {% else %}
                        <form method="POST" action="{{ url_for('auth.login') }}">
                    {% endif %}
                    {{ form.csrf_token }}
                    <div class="form-group">
                        {{ form.username.label }}
                        {{ form.username(class_='form-control') }}
                    </div>
                    <div class="form-group">
                        {{ form.password.label }}
                        {{ form.password(class_='form-control') }}
                    </div>
                    <button class="btn btn-primary" type="submit">{{ _('Aanmelden') }}</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}