{% extends 'admin/layout.html' %}
{% block content %}

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{ _('Strips') }}</h2>
                    <hr class="my-4"/>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <a href="{{ url_for('admin_gui.admin_comics_list') }}">
                            <i class="fa fa-4x fa-book text-primary mb-3 sr-icons"></i>
                            <h3 class="mb-3">{{ _('Lijst') }}</h3>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <a href="{{ url_for('admin_gui.admin_comics_add') }}">
                            <i class="fa fa-4x fa-book-open text-primary mb-3 sr-icons"></i>
                            <h3 class="mb-3">{{ _('Stripreeks toevoegen') }}</h3>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <a href="{{ url_for('admin_gui.admin_comic_add') }}">
                            <i class="fa fa-4x fa-book-open text-primary mb-3 sr-icons"></i>
                            <h3 class="mb-3">{{ _('Stripverhaal toevoegen') }}</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}


